* {
	outline: none;
	--theme-color: #F08080;
}

body {
	color: rgb(167, 158, 139) !important;
}

img {
	max-width: 100% !important;
}

/* header */

header {
	margin: 1rem 20% -2rem 20%;
	display: flex;
	justify-content: left;
}

header * {
	color: var(--theme-color) !important;
	font-size: 2rem !important;
}

/* nav */

nav {
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 1rem;
	line-height: 2rem;
}

nav a {
	color: #72b6b5 !important;
	padding-right: 2rem;
	font-size: 1rem;
	font-weight: bold;
}

nav a:hover {
	text-decoration: underline !important;
}

/*title and meta, copy from collection_layout.html and default.html*/
.title {
	padding: 5%;
	color: #101417;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	background: #F08080;
	display: grid;
}
.meta {
	font-size: 0.7rem;
	font-weight: normal;
	text-transform: uppercase;
  }

/* main */

main {
	margin-top: 1rem;
	margin-left: 20%;
	margin-right: 20%;
	display: grid;
	grid-gap: 1.4rem;
	line-height: 1.5rem;
}

.content a {
	text-decoration: underline;
}

.post-list a {
	text-decoration: none;
	position: relative;
	color: var(--theme-color) !important;
	/* color: #72b6b5 !important; */
}

.post-list a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	border-bottom: 2px solid var(--theme-color);
	transition: 0.4s;
}

.post-list a:hover:after {
	width: 100%;
}

.post-list a:before,
.post-list a:before {
	content: "#";
	color: #42b983;
	position: absolute;
	left: -0.8em;
	font-weight: bold;
}

.post-list li {
	list-style: none;
}

/* 文章内容段落开头空两格 */
.content p:nth-child(n+2) {
	text-indent: 2em;
}



/* footer */

footer {
	font-weight: bold;
	color: #72b6b5;
	font-size: 0.7rem;
	margin: 4rem 20% 4rem 20%;
}

@media screen and (max-width: 780px) {
	nav,
	header,
	footer,
	main {
		margin-left: 2%;
		margin-right: 2%;
	}
}


/*copy from head.html*/
/*<!-- PILL JS LOADER SYLE -->*/
  #indicator {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 3px;
	display: none;
	background-color: #72b6b5;
  }

  .is-loading {
	display: block;
	animation: blink 1.5s linear infinite;
  }

  @keyframes blink {
	from,
	to {
	  background-color: #72b6b5;
	}

	50% {
	  background-color: #42b983;
	}
  }

  #project-link {
	display: block;
	position: fixed;
	padding: 8px;
	top: 0;
	right: 0;
  }
/*<!-- PILL JS -->*/